<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href th:href="@{/}">Strona główna</a>
<h1>Basket</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Sygnatura</th>
        <th>Przedmiot</th>
        <th>Typ zajęć</th>
        <th>Wykładowca</th>
        <th>Termin</th>
        <th>Pkt ECTS</th>
        <th>Usuń</th>
    </tr>
    </thead>
    <tbody id="myTable">
    <tr th:each="course: ${user.courseBasket}">
        <td th:text="${course.subject.getSignature() +'-'+ course.lecturer.getSignature()}"></td>
        <td th:text="${course.subject.getName()}">Przedmiot</td>
        <td th:text="${course.type.getValue()}">Typ zajęć</td>
        <td th:text="${course.lecturer.getName()}">Wykładowca</td>
        <td th:text="${course.day.getValue() + ' ' + course.startTime + '-' + course.endTime}">Termin</td>
        <td th:text="${course.subject.isComplex()} and ${course.type == T(pl.mbab.subjectdeclaration.model.subject.CourseType).CLASSES} ? '' : ${course.subject.getEcts()}">Termin</td>
        <td th:if="${!course.lecturer.getSignature().equals('0000')}" > <form action="#" th:action="@{'/deletecourse/'}" th:object="${course}" method="post">
            <input type="hidden" id="courseId" name="courseId" th:value="${course.id}" />
            <input type="submit" value="Usuń"/>
        </form></td>
    </tr>
    </tbody>
</table>
<p>Razem:</p>
<p th:text="${ects}"></p>

<form action="#" th:action="@{'/validate/'}" method="post">
    <input type="submit" value="Zwaliduj"/>
</form>
</body>
</html>

<!--th:text="${course.subject.getEcts()-->