<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="|@{../css/style.css}|">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <title>SD - Profil użytkownika</title>
</head>
<body>
<div th:insert="/navbar"></div>

<header id="main-header" class="py-2 text-white" style="background-color: darkgoldenrod">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-user-circle"></i> Profil</h1>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    Mój profil
                </div>
                <div class="card-block">
                    <h4 class="card-title text-center">Moje dane</h4>
                    <form th:object="${user}">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Imię</label>
                            <div class="col-sm-10">
                                <input class="form-control" disabled th:field="*{firstName}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Nazwisko</label>
                            <div class="col-sm-10">
                                <input class="form-control" disabled th:field="*{lastName}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">PESEL</label>
                            <div class="col-sm-10">
                                <input class="form-control" disabled th:field="*{pesel}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Płeć</label>
                            <div class="col-sm-10">
                                <input class="form-control" disabled th:field="*{gender.value}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Semestr</label>
                            <div class="col-sm-10">
                                <input class="form-control" disabled th:field="*{semester}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Kierunek</label>
                            <div class="col-sm-10">
                                <input class="form-control" disabled th:field="*{field.name}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input class="form-control" disabled th:field="*{email}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>