<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="|@{../css/style.css}|">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title>Formularz rejestracji</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Rejestracja przebiegła pomyślnie!
                </div>
            </div>

            <h1>Formularz rejestracji</h1>
            <form th:action="@{/registration}" th:object="${user}" method="post">

                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                    <label for="firstName" class="control-label">Imię</label>
                    <input id="firstName"
                           class="form-control" placeholder="Wpisz imię"
                           th:field="*{firstName}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                    <label for="lastName" class="control-label">Nazwisko</label>
                    <input id="lastName"
                           class="form-control" placeholder="Wpisz nazwisko"
                           th:field="*{lastName}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('pesel')}? 'has-error':''">
                    <label for="pesel" class="control-label">PESEL</label>
                    <input id="pesel"
                           class="form-control" placeholder="Wpisz nr PESEL"
                           th:field="*{pesel}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('pesel')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('gender')}? 'has-error':''">
                    <label for="gender" class="form-check-label">Płeć</label><br>
                    <div class="form-check-inline"
                         th:each="gender : ${T(pl.mbab.subjectdeclaration.model.user.Gender).values()}">
                        <label for="gender" class="form-check-label">
                            <input type="radio" id="gender" class="form-check-input" th:field="*{gender}"
                                   th:value="${gender}" th:text="${gender.value}" />
                        </label>
                    </div>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('gender')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label for="semester" class="control-label">Semestr</label>
                    <select class="form-control" id="semester" th:field="*{semester}">
                        <option th:each="semester : ${T(pl.mbab.subjectdeclaration.model.user.Semester).values()}"
                                th:value="${semester}"
                                th:text="${semester}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="field" class="control-label">Kierunek</label>
                    <select class="form-control" id="field" th:field="*{field}">
                        <option th:each="field : ${fieldsub}"
                                th:value="${field.id}"
                                th:text="${field.name}">
                        </option>
                    </select>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <label for="email" class="control-label">E-mail</label>
                    <input id="email"
                           class="form-control"
                           th:field="*{email}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                    <label for="confirmEmail" class="control-label">Potwierdź e-mail</label>
                    <input id="confirmEmail"
                           class="form-control"
                           th:field="*{confirmEmail}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmEmail')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Hasło</label>
                    <input id="password"
                           class="form-control"
                           type="password"
                           th:field="*{password}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <label for="confirmPassword" class="control-label">Potwierdź hasło</label>
                    <input id="confirmPassword"
                           class="form-control"
                           type="password"
                           th:field="*{confirmPassword}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                    <input id="terms"
                           type="checkbox"
                           th:field="*{terms}"/>
                    <label class="control-label" for="terms">
                        Zapoznałem/-am się z <a href="#">zasadami wyboru przedmiotów</a>.
                    </label>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('terms')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Zarejestruj</button>
                    <span>Zarejestrowałeś/-aś się już? <a href="/" th:href="@{/login}">Zaloguj się tutaj</a></span>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>