<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
            <!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
            <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"-->
            <!--integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"-->
            <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"-->
            <!--integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"-->
            <!--crossorigin="anonymous"></script>-->
    <title>Bootstrap Sandbox</title>
</head>
<body>
<div th:insert="/navbar"> </div>
<header id="main-header" class="py-2 text-white" style="background-color: slateblue">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1><i class="fas fa-scroll"></i></i> Zasady wyboru przedmiotów</h1>
            </div>
        </div>
    </div>
</header>
<br>
<div class="container">
    <button class="btn btn-primary d-block mb-4"
            data-toggle="collapse" data-target="#collapse-btn-1">Zasady ogólne
    </button>
    <div class="collapse" id="collapse-btn-1">
        <div class="card">
            <div class="card-block">
                Zasady wyboru przedmiotów niezależne od semestru, na którym znajduje się student:
                <ul>
                    <li>
                        student powinien zadeklarować przedmioty o łącznej sumie punktów ECTS nie mniejszej niż 30 i nie
                        większej niż 70,
                    </li>
                    <li>
                        student na każdym semestrze deklaruje zajęcia, na które będzie uczęszczał – dla większości
                        przedmiotów ma on do wyboru różnych wykładowców prowadzących zajęcia w różnych terminach,
                    </li>
                    <li>
                        dostępne przedmioty mogą składać się z samych ćwiczeń, samych wykładów bądź z ćwiczeń i wykładów
                        – w
                        przypadku tego ostatniego wariantu student powinien dodać do koszyka zarówno wykład jak i
                        ćwiczenia,
                    </li>
                    <li>
                        student nie może dodać do koszyka dwóch takich samych przedmiotów tego samego typu (wykład lub
                        ćwiczenia) prowadzonych przez różnych prowadzących – student może jednak zapisać się na wykład z
                        danego przedmiotu do jednego prowadzącego, natomiast na ćwiczenia z tego samego przedmiotu do
                        innego
                        prowadzącego,
                    </li>
                    <li>
                        student nie może zapisać się na zajęcia, które kolidują terminem (ten sam dzień tygodnia oraz
                        godzina rozpoczęcia) z innym zajęciami,
                    </li>
                    <li>
                        na każdym semestrze student ma jedne zajęcia obowiązkowe (język obcy lub seminarium
                        magisterskie),
                        których nie może usunąć z koszyka.
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="heading">
                <h5 class="mb-0"><a href="#collapse1"
                                    data-parent="#accordion" data-toggle="collapse">
                    Semestr I
                </a></h5>
            </div>
            <div id="collapse1" class="collapse">
                <div class="card-block">
                    <ul>
                        <li>
                            student powinien zrealizować przedmioty obowiązkowe niezależnie od wybranego kierunku:
                            Historia
                            myśli ekonomicznej oraz Prawo gospodarcze,
                        </li>
                        <li>
                            student powinien zrealizować zajęcia z języka obcego (4,5 pkt ECTS),
                        </li>
                        <li>
                            student powinien wybrać przedmioty kierunkowe o wartości przynajmniej 16,5 pkt ECTS.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="heading">
                <h5 class="mb-0"><a href="#collapse2"
                                    data-parent="#accordion" data-toggle="collapse">
                    Semestr II
                </a></h5>
            </div>
            <div id="collapse2" class="collapse show">
                <div class="card-block">
                    <ul>
                        <li>
                            student powinien zrealizować zajęcia z języka obcego (6,0 pkt ECTS),
                        </li>
                        <li>
                            student powinien wybrać przedmioty kierunkowe o wartości przynajmniej 12,0 pkt ECTS,
                        </li>
                        <li>
                            student powinien wybrać przedmioty związane z kierunkiem o wartości przynajmniej 12,0 pkt
                            ECTS.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="heading">
                <h5 class="mb-0"><a href="#collapse3"
                                    data-parent="#accordion" data-toggle="collapse">
                    Semestr III
                </a></h5>
            </div>
            <div id="collapse3" class="collapse show">
                <div class="card-block">
                    <ul>
                        <li>
                            student powinien zrealizować seminarium magisterskie (8,0 pkt ECTS),
                        </li>
                        <li>
                            student powinien wybrać przedmioty kierunkowe o wartości przynajmniej 12,0 pkt ECTS,
                        </li>
                        <li>
                            student powinien wybrać przedmioty związane z kierunkiem o wartości przynajmniej 9,0 pkt
                            ECTS.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading">
                <h5 class="mb-0"><a href="#collapse3"
                                    data-parent="#accordion" data-toggle="collapse">
                    Semestr IV
                </a></h5>
            </div>
            <div id="collapse4" class="collapse show">
                <div class="card-block">
                    <ul>
                        <li>
                            student powinien zrealizować seminarium magisterskie (12,0 pkt ECTS),
                        </li>
                        <li>
                            student powinien wybrać przedmioty związane z kierunkiem o wartości przynajmniej 9,0 pkt
                            ECTS.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div style="margin-top:500px;"></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script>
    $(function() {
        $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
    });
</script>
</body>
</html>
